.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

input,
button {
  font-size: 2rem;
  padding: 0.25rem;
  border: 2px solid #999;
}
button {
  background-color: #999;
  color: #fff;
  border-left: none;
  cursor: pointer;
}
